<div class="container p-5">
  <div class="col-sm-4 offset-sm-4">
    <div class="row mb-4">
      <h2>Login - Empresa Aérea</h2>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="logar()">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label for="login" class="form-label">E-mail:</label>
        <input id="login" class="form-control" type="text" [(ngModel)]="login" name="login" #loginField="ngModel" required/>

        <div *ngIf="loginField.invalid && loginField.touched">
          <small class="error">Digite o e-mail.</small>
        </div>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label for="senha" class="form-label">Senha:</label>
        <input id="senha" class="form-control" type="password" [(ngModel)]="senha" name="senha" #senhaField="ngModel" required/>
        
        <div *ngIf="senhaField.invalid && senhaField.touched">
          <small class="error">Digite a senha.</small>
        </div>
      </div>

      <!-- Submit button -->
      <div class="d-flex justify-content-center">
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Login</button>
      </div>

      <!-- Exibir mensagem de erro genérica se o login falhar -->
      <div *ngIf="loginFailed" class="mb-4">
        <small class="error">Usuário ou Senha inválidos. Tente novamente.</small>
      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Ainda não está cadastrado? <a routerLink="/autocadastro">Registre-se</a></p>
      </div>
    </form>
  </div>
</div>
