<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cancelar Reserva</h4>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">Código do Voo: {{ voo.codigoVoo }}</li>
    <li class="list-group-item">Data/Hora: {{ voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</li>
    <li class="list-group-item">Aeroporto Origem: {{ voo.origem }}</li>
    <li class="list-group-item">Aeroporto Destino: {{ voo.destino }}</li>
    <li class="list-group-item">Valor da Passagem (R$): {{ voo.valorPassagem }}</li>
    <li class="list-group-item">Total de Poltronas: {{ voo.totalPoltronas }}</li>
    <li class="list-group-item">Poltronas Ocupadas: {{ voo.poltronasOcupadas }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
  <button type="submit" class="btn btn-danger" (click)="cancelarVoo(voo.codigoVoo)">Cancelar</button>
</div>