<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Ver Reserva</h4>
</div>
<div class="modal-body">
  <ul class="list-group list-unstyled">
    <li class="list-group-item">Código da Reserva: {{ reserva.codigoReserva }}</li>
    <li class="list-group-item">Data/Hora: {{ reserva.dataHora | date: 'dd/MM/yyyy HH:mm' }}</li>
    <li class="list-group-item">Origem: {{ voo.origem }}</li>
    <li class="list-group-item">Destino: {{ voo.destino }}</li>
    <li class="list-group-item">Passagens compradas: {{ reserva.qntdPassagens }}</li>
    <li class="list-group-item">Custo Total (R$): {{ reserva.custoTotal | currency: 'BRL' : 'symbol':'1.2-2'}}</li>
    <li class="list-group-item">Milhas usadas: {{ reserva.milhasUsadas }}</li>
    <li class="list-group-item">Estado da Reserva: {{ reserva.estado }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>