<div class="container mt-4">
  <h2 class="text-center">Menu do Funcionario</h2>
  
  <div class="mb-4">
    <h4>Operações:</h4>
    <div class="d-flex justify-content-between mb-3">
      <a routerLink="/" class="btn btn-primary btn-lg mr-2">Cadastrar Voo</a>
      <a routerLink="/crud-funcionario" class="btn btn-primary btn-lg mr-2">Gestão de Funcionários</a>
    </div>
  </div>

  <div class="mb-4">
    <h4>Reservas</h4>
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Data/Hora</th>
          <th>Aeroporto Origem</th>
          <th>Aeroporto Destino</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.dataHora }}</td>
          <td>{{ reserva.aeroportoOrigem }}</td>
          <td>{{ reserva.aeroportoDestino }}</td>
          <td>
            <button class="btn btn-info" (click)="verConfirmacao(reserva.id)">Confirmação de embarque</button>
            <button class="btn btn-success" (click)="realizarVoo(reserva.id)">Realizar Voo</button>
            <button class="btn btn-danger" (click)="cancelarVoo(reserva.id)">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>