<div class="container mt-4">
  <h2 class="text-center">Home Funcionario</h2>
  
  <div *ngIf="mensagemErro" class="alert alert-danger">
    {{ mensagemErro }}
  </div>

  <div class="mb-4">
    <h4>Operações:</h4>
    <div class="d-flex justify-content-between mb-3">
      <a routerLink="/cadastro-voo" class="btn btn-primary btn-lg mr-2">Cadastrar Voo</a>
      <a routerLink="/crud-funcionario" class="btn btn-primary btn-lg mr-2">Gestão de Funcionários</a>
    </div>
  </div>

  <div class="mb-4">
    <h4>Voos confirmados</h4>
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Data/Hora</th>
          <th>Aeroporto Origem</th>
          <th>Aeroporto Destino</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voo of voos">
          <td>{{ voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ voo.origem }}</td>
          <td>{{ voo.destino }}</td>
          <td>
            <button class="btn btn-info" (click)="confirmarEmbarque(voo.codigoVoo)">Confirmação de embarque</button>
            <button class="btn btn-success" (click)="realizarVoo(voo.codigoVoo)">Realizar Voo</button>
            <button class="btn btn-danger" (click)="abrirModalCancelarVoo(voo)">Cancelar</button>
          </td>
        </tr>
        <tr *ngIf="voos.length === 0">
          <td colspan="5" class="text-center fw-bold">Nenhum voo confirmado nas próximas 48 horas.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>