<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cancelar Reserva</h4>
</div>
<div class="modal-body">
  <td>Código da reserva: 1547328</td>
  <td>Código do voo: 832901</td>
  <td>Data/hora da reserva: 01/01/01 00:00:00</td>
  <td>Estado da reserva: RESERVADO</td>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
  <button type="submit" class="btn btn-danger" (click)="cancelarReserva()">Cancelar</button>
</div>