<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cancelar Reserva</h4>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">Código da Reserva: {{ reserva.codigoReserva }}</li>
    <li class="list-group-item">Data/Hora: {{ reserva.dataHora | date: 'dd/MM/yyyy HH:mm' }}</li>
    <li class="list-group-item">Aeroporto Origem: {{ getVooOrigem() }}</li>
    <li class="list-group-item">Aeroporto Destino: {{ getVooDestino() }}</li>
    <li class="list-group-item">Passagens compradas: {{ reserva.qntdPassagens }}</li>
    <li class="list-group-item">Custo Total (R$): {{ reserva.custoTotal }}</li>
    <li class="list-group-item">Milhas usadas: {{ reserva.milhasUsadas }}</li>
    <li class="list-group-item">Estado da Reserva: {{ reserva.estado }}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
  <button type="submit" class="btn btn-danger" (click)="cancelarReserva(reserva.codigoReserva)">Cancelar</button>
</div>