<div class="container mt-4">
  <h2 class="text-center">Gestão de Funcionários</h2>
  
  <div class="mb-4">
    <h4>Operações:</h4>
    <div class="d-flex justify-content-between mb-3">
      <a routerLink="/inserir-funcionario" class="btn btn-primary btn-lg mr-2">Inserção de Funcionário</a>
    </div>
  </div>

  <div class="mb-4">
    <h4>Funcionários</h4>
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.cpf }}</td>
          <td>{{ funcionario.email }}</td>
          <td>{{ funcionario.telefone }}</td>
          <td>
            <button class="btn btn-info me-1" (click)="alterarFuncionario(funcionario.id)">Alterar</button>
            <button class="btn btn-danger" (click)="AbrirModalRemoverFuncionario(funcionario)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>