<div class="container mt-4">
  <h2 class="text-center">Menu do Cliente</h2>
  
  <div class="mb-4">
    <h4>Saldo em Milhas: <span class="badge bg-primary">{{ saldoMilhas }}</span></h4>
  </div>
  
  <div class="mb-4">
    <h4>Operações:</h4>
    <div class="d-flex justify-content-between mb-3">
      <a routerLink="/comprar-milhas" class="btn btn-primary btn-lg mr-2">Comprar Milhas</a>
      <a routerLink="/extrato-milhas" class="btn btn-primary btn-lg mr-2">Extrato de Milhas</a>
      <a routerLink="/efetuar-reserva" class="btn btn-primary btn-lg mr-2">Efetuar Reserva</a>
      <a routerLink="/consultar-reserva" class="btn btn-primary btn-lg mr-2">Consultar Reserva</a>
      <a routerLink="/checkin" class="btn btn-primary btn-lg">Fazer Check-in</a>
    </div>
  </div>

  <div class="mb-4">
    <h4>Reservas</h4>
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>Data/Hora</th>
          <th>Aeroporto Origem</th>
          <th>Aeroporto Destino</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.dataHora }}</td>
          <td>{{ reserva.aeroportoOrigem }}</td>
          <td>{{ reserva.aeroportoDestino }}</td>
          <td>
            <button class="btn btn-info" (click)="verReserva(reserva.id)">Ver</button>
            <button class="btn btn-danger" (click)="cancelarReserva(reserva.id)">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>