<div class="container mt-4">
    <!-- Saldo em milhas -->
    <div class="mb-4">
      <h4>Saldo em Milhas: <span class="badge bg-primary">{{ clienteLogado?.milhas }}</span></h4>
    </div>

    <!-- Tabela de Reservas e Voos -->
    <div class="mb-4">
      <h3>Minhas Reservas e Voos</h3>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table">
          <tr>
            <th scope="col">Código da Reserva</th>
            <th scope="col">Data/Hora</th>
            <th scope="col">Aeroporto Origem</th>
            <th scope="col">Aeroporto Destino</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of Reservas" class="align-middle">
            <ng-container *ngIf="['RESERVADO', 'EMBARCADO', 'CANCELADO VOO'].includes(reserva.estado)">
              <td>{{ reserva.codigoReserva }}</td>
              <td>{{ reserva.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ getVooOrigem(reserva.codigoVoo) }}</td>
              <td>{{ getVooDestino(reserva.codigoVoo) }}</td>
              <td>{{ reserva.estado }}</td>
              <td>
                <button class="btn btn-primary btn-sm me-1" (click)="abrirModalVerReserva(reserva)">Ver Reserva</button>
                <button *ngIf="reserva.estado === 'RESERVADO'" class="btn btn-danger btn-sm" (click)="abrirModalCancelarReserva(reserva)">Cancelar Reserva</button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>      
  </div>
  