<div class="container mt-5">
  <h2 class="text-center mb-4">Extrato de Milhas</h2>
  
  <!-- Quantidade atual de milhas -->
  <div class="row mb-4">
    <div class="col">
      <h4>Seu saldo em Milhas: <span class="badge bg-primary">{{ saldoMilhas }}</span></h4>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr>
          <th>Data/Hora</th>
          <th>Valor (R$)</th>
          <th>Milhas Compradas/Usadas</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="transacoes && transacoes.length > 0; else noTransacoes">
          <tr *ngFor="let transacao of transacoes">
            <td>{{ transacao.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td *ngIf="transacao.tipo === 'entrada'">{{ (transacao.quantidadeMilhas * 5) | currency: 'BRL' : 'symbol':'1.2-2' }}</td>
            <td *ngIf="transacao.tipo !== 'entrada'">-</td>
            <td>{{ transacao.quantidadeMilhas }}</td>
            <td>{{ transacao.descricao }}</td>
          </tr>
        </ng-container>
        <ng-template #noTransacoes>
          <tr>
            <td colspan="4" class="text-center">Nenhuma transação encontrada.</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <!-- Botão de Voltar -->
  <div class="mt-3">
    <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
  </div>
</div>