<div class="container mt-5">
  <h2 class="text-center mb-4">Check-in</h2>
  <p>Estes são seus voos que vão acontecer nas próximas 48 horas:</p>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle">
      <thead class="table">
        <tr>
          <th scope="col">Código do Voo</th>
          <th scope="col">Origem</th>
          <th scope="col">Destino</th>
          <th scope="col">Data/Hora</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="voos && voos.length > 0; else noVoos">
          <tr *ngFor="let voo of voos">
            <td>{{ voo.codigoVoo }}</td>
            <td>{{ voo.origem }}</td>
            <td>{{ voo.destino }}</td>
            <td>{{ voo.dataHora | date: 'dd/MM/yyyy HH:mm'}}</td>
          </tr>
        </ng-container>
        <ng-template #noVoos>
          <tr>
            <td colspan="5" class="text-center fw-bold">{{ errorMessage || 'Nenhum voo disponível para check-in nas próximas 48 horas.' }}</td>
          </tr>
       </ng-template>
      </tbody>
    </table>
  </div>  
</div>